<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <style type="text/css" media="screen">
      h2>a:link{color:black;}
      h2>a:hover{color:black;}
      h2>a:visited{color:black;}
      body{font-size:13px;}
    </style>
    <script src="../../../js/disqus-comment.js"></script>
    <link rel="stylesheet" href="../css/NewWords.css" type="text/css" media="screen" />
  </head>
  <body>
    <!-- New Words -->
    <div id=newwords><a href="English.html">New Words</a></div>


  <div id="disqus_thread">
  </div>
  </body>
</title>
